<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>teenagersbasketball</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>getFriendforumServlet</servlet-name>
  	<servlet-class>basketball.web.GetFriendforumServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getNoticeServlet</servlet-name>
  	<servlet-class>basketball.web.GetNoticeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>trainListServlet</servlet-name>
  	<servlet-class>basketball.web.TrainListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>basketball.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>rankListServlet</servlet-name>
  	<servlet-class>basketball.web.RankListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getRangComboListServlet</servlet-name>
  	<servlet-class>basketball.web.GetRangComboListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>searchInformationServlet</servlet-name>
  	<servlet-class>basketball.web.SearchInformationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>personalDataChartServlet</servlet-name>
  	<servlet-class>basketball.web.PersonalDataChartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addDataServlet</servlet-name>
  	<servlet-class>basketball.web.AddDataServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getWebsiteServlet</servlet-name>
  	<servlet-class>basketball.web.GetWebsiteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyPWServlet</servlet-name>
  	<servlet-class>basketball.web.ModifyPWServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>coaStuListServlet</servlet-name>
  	<servlet-class>basketball.web.CoaStuListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addTrainServlet</servlet-name>
  	<servlet-class>basketball.web.AddTrainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteTrainServlet</servlet-name>
  	<servlet-class>basketball.web.DeleteTrainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyTrainServlet</servlet-name>
  	<servlet-class>basketball.web.ModifyTrainServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>upLoadServlet</servlet-name>
  	<servlet-class>basketball.web.UpLoadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>feedBackServlet</servlet-name>
  	<servlet-class>basketball.web.FeedBackServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>okDoubtServlet</servlet-name>
  	<servlet-class>basketball.web.OkDoubtServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getDistributionServlet</servlet-name>
  	<servlet-class>basketball.web.GetDistributionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getNewsServlet</servlet-name>
  	<servlet-class>basketball.web.GetNewsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>newsListServlet</servlet-name>
  	<servlet-class>basketball.web.NewsListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getDisplayServlet</servlet-name>
  	<servlet-class>basketball.web.GetDisplayServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyNoticeServlet</servlet-name>
  	<servlet-class>basketball.web.ModifyNoticeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyNewsServlet</servlet-name>
  	<servlet-class>basketball.web.ModifyNewsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteNewsServlet</servlet-name>
  	<servlet-class>basketball.web.DeleteNewsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>coachListServlet</servlet-name>
  	<servlet-class>basketball.web.CoachListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>clubListServlet</servlet-name>
  	<servlet-class>basketball.web.ClubListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyDisplayServlet</servlet-name>
  	<servlet-class>basketball.web.ModifyDisplayServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>forumListServlet</servlet-name>
  	<servlet-class>basketball.web.ForumListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyForumDisplayServlet</servlet-name>
  	<servlet-class>basketball.web.ModifyForumDisplayServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>addFriendForumServlet</servlet-name>
  	<servlet-class>basketball.web.AddFriendForumServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteFriendForumServlet</servlet-name>
  	<servlet-class>basketball.web.DeleteFriendForumServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getUserServlet</servlet-name>
  	<servlet-class>basketball.web.GetUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteUserServlet</servlet-name>
  	<servlet-class>basketball.web.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addUserServlet</servlet-name>
  	<servlet-class>basketball.web.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>allTrainListServlet</servlet-name>
  	<servlet-class>basketball.web.AllTrainListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>personalInformationServlet</servlet-name>
  	<servlet-class>basketball.web.PersonalInformationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyPersonalinformationServlet</servlet-name>
  	<servlet-class>basketball.web.ModifyPersonalinformationServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>dataContrastServlet</servlet-name>
  	<servlet-class>basketball.web.DataContrastServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>studentPersonalRankServlet</servlet-name>
  	<servlet-class>basketball.web.StudentPersonalRankServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>coaStuNumServlet</servlet-name>
  	<servlet-class>basketball.web.CoaStuNumServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getMyUserInformationServlet</servlet-name>
  	<servlet-class>basketball.web.GetMyUserInformationServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>getClubCoaServlet</servlet-name>
  	<servlet-class>basketball.web.GetClubCoaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getApplyServlet</servlet-name>
  	<servlet-class>basketball.web.GetApplyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>applyServlet</servlet-name>
  	<servlet-class>basketball.web.ApplyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modifyClubServlet</servlet-name>
  	<servlet-class>basketball.web.ModifyClubServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>refuseServlet</servlet-name>
  	<servlet-class>basketball.web.RefuseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>phoneLoginServlet</servlet-name>
  	<servlet-class>basketball.web.PhoneLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>phoneCoaStuListServlet</servlet-name>
  	<servlet-class>basketball.web.PhoneCoaStuListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>phoneAddStudentServlet</servlet-name>
  	<servlet-class>basketball.web.PhoneAddStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>phoneGetTemporaryStudentServlet</servlet-name>
  	<servlet-class>basketball.web.PhoneGetTemporaryStudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>phoneSaveTrainServlet</servlet-name>
  	<servlet-class>basketball.web.PhoneSaveTrainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>phoneTrainListServlet</servlet-name>
  	<servlet-class>basketball.web.PhoneTrainListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>phoneAllTemporaryTrainListServlet</servlet-name>
  	<servlet-class>basketball.web.PhoneAllTemporaryTrainListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>phoneDeleteTrainServlet</servlet-name>
  	<servlet-class>basketball.web.PhoneDeleteTrainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>phoneSaveAllTrainServlet</servlet-name>
  	<servlet-class>basketball.web.PhoneSaveAllTrainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>phonePCDataChartServlet</servlet-name>
  	<servlet-class>basketball.web.PhonePCDataChartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getAgeServlet</servlet-name>
  	<servlet-class>basketball.web.GetAgeServlet</servlet-class>
  </servlet>
 
 




 <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getFriendforumServlet</servlet-name>
  	<url-pattern>/getFriendforum</url-pattern>
  </servlet-mapping>  
   <servlet-mapping>
  	<servlet-name>getNoticeServlet</servlet-name>
  	<url-pattern>/getNotice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>trainListServlet</servlet-name>
  	<url-pattern>/trainList</url-pattern>
  </servlet-mapping>   
  <servlet-mapping>
  	<servlet-name>rankListServlet</servlet-name>
  	<url-pattern>/rankList</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>getRangComboListServlet</servlet-name>
  	<url-pattern>/getRangComboList</url-pattern>
  </servlet-mapping>   
  <servlet-mapping>
  	<servlet-name>searchInformationServlet</servlet-name>
  	<url-pattern>/searchInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>personalDataChartServlet</servlet-name>
  	<url-pattern>/personalDataChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addDataServlet</servlet-name>
  	<url-pattern>/addData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getWebsiteServlet</servlet-name>
  	<url-pattern>/getWebsite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>modifyPWServlet</servlet-name>
  	<url-pattern>/modifyPW</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>coaStuListServlet</servlet-name>
  	<url-pattern>/coaStuList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addTrainServlet</servlet-name>
  	<url-pattern>/addTrain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteTrainServlet</servlet-name>
  	<url-pattern>/deleteTrain</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
  	<servlet-name>modifyTrainServlet</servlet-name>
  	<url-pattern>/modifyTrain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>upLoadServlet</servlet-name>
  	<url-pattern>/upLoad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>feedBackServlet</servlet-name>
  	<url-pattern>/feedBack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>okDoubtServlet</servlet-name>
  	<url-pattern>/okDoubt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getDistributionServlet</servlet-name>
  	<url-pattern>/getDistribution</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getNewsServlet</servlet-name>
  	<url-pattern>/getNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>newsListServlet</servlet-name>
  	<url-pattern>/newsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getDisplayServlet</servlet-name>
  	<url-pattern>/getDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>modifyNoticeServlet</servlet-name>
  	<url-pattern>/modifyNotice</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>modifyNewsServlet</servlet-name>
  	<url-pattern>/modifyNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteNewsServlet</servlet-name>
  	<url-pattern>/deleteNews</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>coachListServlet</servlet-name>
  	<url-pattern>/coachList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>clubListServlet</servlet-name>
  	<url-pattern>/clubList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>modifyDisplayServlet</servlet-name>
  	<url-pattern>/modifyDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>forumListServlet</servlet-name>
  	<url-pattern>/forumList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>modifyForumDisplayServlet</servlet-name>
  	<url-pattern>/modifyForumDisplay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addFriendForumServlet</servlet-name>
  	<url-pattern>/addFriendForum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteFriendForumServlet</servlet-name>
  	<url-pattern>/deleteFriendForum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getUserServlet</servlet-name>
  	<url-pattern>/getUser</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>deleteUserServlet</servlet-name>
  	<url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addUserServlet</servlet-name>
  	<url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>allTrainListServlet</servlet-name>
  	<url-pattern>/allTrainList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>personalInformationServlet</servlet-name>
  	<url-pattern>/personalInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>modifyPersonalinformationServlet</servlet-name>
  	<url-pattern>/modifyPersonalinformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dataContrastServlet</servlet-name>
  	<url-pattern>/dataContrast</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>studentPersonalRankServlet</servlet-name>
  	<url-pattern>/studentPersonalRank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>coaStuNumServlet</servlet-name>
  	<url-pattern>/coaStuNum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getMyUserInformationServlet</servlet-name>
  	<url-pattern>/getMyUserInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getClubCoaServlet</servlet-name>
  	<url-pattern>/getClubCoa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getApplyServlet</servlet-name>
  	<url-pattern>/getApply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>applyServlet</servlet-name>
  	<url-pattern>/apply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>modifyClubServlet</servlet-name>
  	<url-pattern>/modifyClub</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>refuseServlet</servlet-name>
  	<url-pattern>/refuse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>phoneLoginServlet</servlet-name>
  	<url-pattern>/phoneLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>phoneCoaStuListServlet</servlet-name>
  	<url-pattern>/phoneCoaStuList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>phoneAddStudentServlet</servlet-name>
  	<url-pattern>/phoneAddStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>phoneGetTemporaryStudentServlet</servlet-name>
  	<url-pattern>/phoneGetTemporaryStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>phoneSaveTrainServlet</servlet-name>
  	<url-pattern>/phoneSaveTrain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>phoneTrainListServlet</servlet-name>
  	<url-pattern>/phoneTrainList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>phoneAllTemporaryTrainListServlet</servlet-name>
  	<url-pattern>/phoneAllTemporaryTrainList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>phoneDeleteTrainServlet</servlet-name>
  	<url-pattern>/phoneDeleteTrain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>phoneSaveAllTrainServlet</servlet-name>
  	<url-pattern>/phoneSaveAllTrain</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>phonePCDataChartServlet</servlet-name>
  	<url-pattern>/phonePCDataChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getAgeServlet</servlet-name>
  	<url-pattern>/getAge</url-pattern>
  </servlet-mapping>
  
  

  <session-config>
  <session-timeout>60</session-timeout>
  </session-config>
</web-app>